
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.actions {
  margin-top: 30px;
}
.meta {
  font-style: italic;
}
.summary, .description {
  margin-top: 14px;
}
.confirmation {
  margin-left: 14px;
}
.no-result {
  margin-top: 20px;
}
.featured {
  height: 468px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}
.site-heading {
  .subheading {
    background: rgba(0,0,0,.6);
    font-size: 28px !important;
    line-height: 1.4 !important;
  }
}
.comment-section {
  margin-top: 18px;
}
.comment-item {
  .comment-author {
    text-decoration: none;
    font-weight: bold;
  }
}